#container {
    display: flex;
    margin-top:5%;
    margin-left: 5%;
  }

  .dolares{
    margin-right: 10%;
  }

  #peso_dolar{
    margin-left: 10%;
    margin-top: 2%;
    
  }
  .container-card {
    max-width: 500px;
    margin: 0 auto;
  }

  #acceptar{
    margin-left: 5%;
    margin-top: 2%;
  }