#container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
  }

  .dolares{
    margin-right: 10%;
  }

  .container-card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
  }

  #acceptar{
    margin-left: 5%;
    margin-top: 1%;
  }