<div id="container" >
    <div class="dolares">
      <h4>Tipo de cambio</h4>
      <mat-form-field appearance="fill">
        <mat-label>Seleccione</mat-label>
        <mat-select [(value)]="nombre" >
          <mat-option *ngFor="let dolares of dolaresList" [value]="dolares">
            {{dolares}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="dolares">
      <h4>Compra/Venta</h4>
      <mat-form-field appearance="fill">
        <mat-label>Seleccione</mat-label>
        <mat-select [(value)]="tipo" >
          <mat-option *ngFor="let tipo of tipoList" [value]="tipo">
            {{tipo}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    
    <form class="example-form">
        <h4>Cantidad de doalres a convertir</h4>
        <mat-form-field class="example-full-width">
        <mat-label>Dolares</mat-label>
        <span matPrefix>$ &nbsp;</span>
        <input type="number" matInput placeholder="000" #dolares>
      </mat-form-field>
    </form>
    <button mat-raised-button color="primary" id="acceptar" (click)="convertir()">Convertir</button>
    
</div>
<div class="container-card">
    <mat-card>
      <mat-card-content>
        <h2>Cantidad de pesos</h2>
        <span>{{ valorCambio }}</span>
      </mat-card-content>
    </mat-card>
  </div>